<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class='main-container'>

        <div class='container'>

            <div class='left-sidebar'>
                <h2>Dashboard</h2>
                  <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/invoice'>INVOICE</a>

                  </div>
                <div>
  <a class='left-sidebar-links' href='http://localhost:4200/dashboard'>PROFILE</a>

                </div>
                  <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/salord'>SALES-ORDER</a>
                </div>
                
                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/pa'>PAYMENT-AGING</a>
                </div>

                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/invoice'>INVOICE</a>
                </div>

                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/iq'>INQUIRY</a>
                </div>

                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/credit'>CREDIT</a>
                </div>
              
                <div>
                    <a class='left-sidebar-links' href='http://localhost:4200/debit'>DEBIT</a>
                </div>
                


            </div>

            <div class='dashboard'>
                <div class="dropdown" style="float:right;">
                    <div class="dropdown-content">
                      <button (click)="shutdown()">LOGOUT👋</button>
                    </div>
                  </div>
                <H2 align="center">CUSTOMER PORTAL-INVOICE</H2>


                <div class="time">
                    <mat-card class="matcard">
                        <mat-card-content>TIME:{{time}}</mat-card-content>
                      </mat-card>
                </div>
               <br>
                <input type="text" class="form-control" placeholder="Filter by Sales Document Number" [(ngModel)]="filterdata" />

                

                <div class='rightbar'>
                    <br>
                    
                    <button (click)="print()">PRINT INVOICE</button>
                    <br><br>
                    <button (click)="exportexcel()">EXPORT TO EXCEL</button>

                    <BR>
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status" >
                              <span class="sr-only" id="loading"></span>
                            </div>
                          </div>
                        <BR>
                    <table id ="excel-table">
                        <th>Sales Document</th>
                        <th>Created On</th>
                        <th>Creation Time</th>
                        <th>Billing Type </th>
                        <th>Currency </th>
                        

                    <tr style="height:200px" *ngFor="let entries of this.items | filter3:filterdata">
                        <td><h4>{{entries.VBELN | slice:2}}</h4></td>
                        <td><h4>{{entries.ERDAT |  date: 'dd/MM/yyyy'}}</h4></td>
                        <td><h4>{{entries.ERZET}}</h4></td>
                        <td><h4>{{entries.FKART}}</h4></td>
                        <td><h4>{{entries.WAERK}}</h4></td>
                        
                    </tr>
                </table>

                            
                        
                 
                    
                    
                </div>


            </div>


        </div>
    </div>